.nav-item {
  margin: 0px 10px;
}

.nav-item:hover {
  margin: 0px 10px;
}

.nav-item a {
  font-size: 17px;
}

.navbar {
  box-shadow: 0 0.5px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.0) !important;
}

